.personas{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 3rem;
}

@media screen and (min-width: 0){
    .personas{
        flex-wrap: wrap;

    }
}

@media screen and (min-width: 768px){
    .personas{
        flex-direction: row;
        margin: auto;
    }
}